<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Burger Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>Design your Burger!</h1>
<img th:src="@{/images/burger-logo.png}">

<form method="POST" th:object="${design}">
    <div class="grid">
        <div class="ingredient-group" id="fillings">
            <h3>Designate your type:</h3>
            <div th:each="ingredient : ${category}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="spices">
            <h3>Select your Spice:</h3>
            <div th:each="ingredient : ${spice}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Name you burger creation: </h3>
        <input type="text" th:field="*{name}">
        <br/>
        <button>Submit your burger</button>
    </div>
</form>
</body>
</html>